<div class="container py-5">
  <div class="row" id="login-container">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="border text-center" id="login-box">
        <div class="row py-5 px-5">
          <div class="col-2"></div>
          <div class="col-8 h2">Sign Up</div>
          <div class="col-2"></div>
        </div>
        <div class="row pt-3 pb-2 px-5" id="email-box">
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="studentUni">
        </div>
        <div class="row py-2 px-5" id="username-box">
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="studentUni">
        </div>
        <div class="row py-2 px-5" id="password-box">
          <input type="text" class="form-control" placeholder="Password" [(ngModel)]="studentUni">
        </div>
        <div class="row pt-5 px-5" id="agreement-text">
          <p>By signing up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
        </div>
        <div class="row py-2 px-5 justify-content-center" id="submit-box">
          <button type="button" class="btn btn-primary px-4">Sign Up</button>
        </div>
        <div class="row py-5 px-5">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>


</div>

